apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: managed-graylog

resources:
  # Base resources - overlay will include these and add Helm chart
  - namespace.yaml
  - opensearch-cluster.yaml
  - graylog-helmchart.yaml
  # OpenSearch bootstrap password workaround (MutatingAdmissionWebhook)
  - opensearch-bootstrap-webhook-issuer.yaml
  - opensearch-bootstrap-webhook-server.yaml
  - opensearch-bootstrap-webhook-certificate.yaml
  - opensearch-bootstrap-webhook.yaml
  # CA bundle injection job (runs after certificate creation)
  - opensearch-bootstrap-webhook-ca-bundle-job.yaml

commonLabels:
  app: graylog
  managed-by: gitops
