apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: managed-graylog

resources:
  # Base resources - overlay will include these and add Helm chart
  # Note: namespace.yaml is optional if namespace already exists
  # - namespace.yaml
  - opensearch-cluster.yaml
  - graylog-helmchart.yaml
  # OpenSearch bootstrap password workaround (MutatingAdmissionWebhook)
  - opensearch-bootstrap-webhook-issuer.yaml
  - opensearch-bootstrap-webhook-server.yaml
  - opensearch-bootstrap-webhook-certificate.yaml
  - opensearch-bootstrap-webhook.yaml

commonLabels:
  app: graylog
  managed-by: gitops
