apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: managed-tools

resources:
  # namespace.yaml removed - namespace already exists in cluster
  # If namespace doesn't exist, create it manually or uncomment the line above
  - postgresql-cluster.yaml
  # postgresql-credentials.yaml removed - secret is managed outside GitOps
  # The secret must be created manually: see secrets/harbor/postgresql-credentials.yaml.example
  - postgresql-database.yaml
  - harbor-helmchart.yaml
  - harbor-helmchartconfig.yaml

commonLabels:
  app: harbor
  managed-by: gitops
